<div class="container text-center color-light-soft-bg general-container">
  <div>
    <h2 class="container-title">About</h2>
  </div>
  <div class="row">
    <div class="col-sm avatar-col">
      <img class="avatar" src="./assets/images/avatar.png">
    </div>
    <div class="col-sm text-col">
      <p class="about-text">
        Hi my name is Paulo and i'm passionate about technology.
        I have training and professional experience in the IT field as a full-stack web developer
        and software / hardware technical support, feel free to contact me.
      </p>
    </div>
  </div>
</div>