<div class="container text-center color-light-soft-bg general-container">
  <div>
    <h2 class="container-title">About</h2>
  </div>
  <div class="row">
    <div class="col-sm avatar-col">
      <img class="avatar" src="./assets/images/avatar.png">
    </div>
    <div class="col-sm text-col">
      <p class="about-text">
        Hi, I'm Paulo, a technology enthusiast with professional training and experience
        in the IT field. I specialize as a full-stack web developer and also have a strong
        background in both software and hardware technical support. 
        I'm always open to new opportunities and collaborations, so feel free to get in touch!
      </p>
    </div>
  </div>
</div>