<div class="container text-center color-light-soft-bg general-container">
  <div>
    <h2 class="container-title">About</h2>
  </div>
  <div class="row">
    <div class="col-sm avatar-col">
      <img class="avatar" src="./assets/images/avatar.png">
    </div>
    <div class="col-sm text-col">
      <p class="about-text">
        Hi my name is Paulo, I'm a full-stack web developer passionate about technology.
        I believe that technology can be applied for the good of people, feel free to contact me.
      </p>
    </div>
  </div>
</div>