.container {
  max-width: 1400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

.avatar {
  border: 2px solid #404c53;
  border-radius: 50%;
}

.about-text {
  padding-top: 10%;
  font-family: Roboto-Medium;
}

.container-title {
  padding-bottom: 40px;
  text-align: left;
}

@media only screen and (min-width: 1125px) {
  .text-col {
    max-width: 500px;
  }

  .avatar-col {
    max-width: 650px;
  }
}