.footer {
  background: rgb(44, 44, 44);
  height: 50px;
}

.footer-text {
  font-size: 15px;
  text-align: center;
  color: #F0F5F9;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  font-family: Roboto-Medium;
}

.peace-icon {
  color: #F0F5F9;
}

@media only screen and (max-width: 380px) {
  .footer-text {
    font-size: 13px;
  } 
}