<div class="container color-light-soft-bg">
  <div>
    <h2 class="container-title">Find me</h2>
  </div>
  <a href="https://www.linkedin.com/in/pauloarturvasconcelos/?originalSubdomain=pt" title="LinkedIn" class="btn btn-linkedin btn-lg">
    <fa-icon [icon]="faLinkedin"></fa-icon>
    LinkedIn
  </a>
  <form class="pt-3">
    <label>
      Email:
      <input type="text" class="email-input" readonly value="paulo.artur.vasconcelos@gmail.com"/>
        <fa-icon class="p-2 copy-icon" [icon]="faCopy"></fa-icon>
    </label>
  </form>
</div>