<div class="container color-light-soft-bg general-container">
  <div>
    <h2 class="container-title">Skills</h2>
  </div>
  <div class="row text-center">
    <div class="col">
      <img class="icons" src="/assets/images/net.png">
      <p class="skills-text">Microsoft .NET</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/angular.png">
      <p class="skills-text">Angular</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/react.png">
      <p class="skills-text">React</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/c.png">
      <p class="skills-text">c#</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/js.png">
      <p class="skills-text">Javascript</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/typescript.png">
      <p class="skills-text">Typecript</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/HTML.png">
      <p class="skills-text">HTML</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/css.png">
      <p class="skills-text">CSS</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/sql.png">
      <p class="skills-text">SQL</p>
    </div>
  </div>
</div>