<div class="container color-light-soft-bg">
  <div>
    <h2 class="container-title">Skills</h2>
  </div>
  <div class="row text-center">
    <div class="col">
      <img class="icons" src="/assets/images/net.png">
      <p>Microsoft .NET</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/angular.png">
      <p>Angular</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/c.png">
      <p>c#</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/js.png">
      <p>Javascript</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/typescript.png">
      <p>Typecript</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/HTML.png">
      <p>HTML</p>
    </div>
    <div class="col">
      <img class="icons" src="/assets/images/css.png">
      <p>CSS</p>
    </div>
  </div>
</div>