@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: "BoldMono";
    src: local("Oxygen"), url(./assets/fonts/BLMelodyMono-Bold.otf) format("truetype");
}

@font-face {
    font-family: "SemiBoldMono";
    src: local("Oxygen"), url(./assets/fonts/BLMelodyMono-SemiBold.otf) format("truetype");
}

@font-face {
    font-family: "blMelodyBook";
    src: local("Oxygen"), url(./assets/fonts/BLMelody-Book.otf) format("truetype");
}

h2 {
  font-family: blMelodyBook;
}

p {
  font-family: blMelodyBook;
}

input {
  font-family: blMelodyBook;
}

label {
  font-family: blMelodyBook;
}

html { 
  background-color: #C9D6DF;
}

.bold-mono-text {
  font-family: "BoldMono", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.semi-bold-mono-text {
  font-family: "SemiBoldMono", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.blMelodyBook-text {
  font-family: "blMelodyBook", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.color-light-soft {
  color: #F0F5F9;
}

.color-soft {
  color: #C9D6DF;
}

.color-medium {
  color: #52616B;
}

.color-dark {
  color: #1E2022;
}

.color-dark-bg {
  background-color: #1E2022;
}

.color-light-soft-bg {
  background-color: #F0F5F9;
}