.container {
  max-width: 1400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: Roboto-Medium !important;
}

li {
  font-family: Roboto-Regular !important;
  font-size: 15px;
}

.container-title {
  padding-bottom: 40px;
}

:root {
  --primary-color: #fff; /* try #212121 also for dark mode */
  --background-color: #212121;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 3px solid #142d3a;
  margin-left: 8%;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: #ffffff ;
  border-radius: 8px;
  max-width: 400px;
  background: #2e2e2e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: #F0F5F9;
  position: relative;
  font-size: 19px;
  text-transform: bold;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #F0F5F9;
  border-radius: 999px;
  left: -37.8px;
  border: 3px solid #142d3a;
}

.skills-list {
  padding-left: 13px;
}

.date {
  text-align: right;
  font-size: 12px;
}

@media only screen and (max-width: 670px) {
  .outer {
    margin-left: 1%;
  }
}