<div class="container color-light-soft-bg general-container">
  <div>
    <h2 class="container-title">Career</h2>
  </div>
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Nexllence - Full-stack dev</h3>
          <ul class="skills-list">
            <li>Developing applications as a full-stack web developer.</li>
            <li>.NET, ANGULAR, SQL databases.</li>
          </ul>
          <p class="date">Feb-2021 - Ongoing</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Fujitsu - IT on-field team</h3>
          <ul class="skills-list">
            <li>Management of 2000 users hardware.</li>
            <li>Hardware/Software troubleshooting.</li>
            <li>Hardware reapairs or replacements.</li>
            <li>Networks troubleshooting.</li>
            <li>Trouble ticketing and reports.</li>
          </ul>
          <p class="date">2020</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Samsung - Mobile Technician</h3>
          <ul class="skills-list">
            <li>Repair any Samsung smartphone or tablet.</li>
            <li>Ordering and managing parts in stock.</li>
            <li>Android troubleshooting.</li>
          </ul>
          <p class="date">2015</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Vodafone - NOC Technician</h3>
          <ul class="skills-list">
            <li>2G/3G/4G Network monitoring, Analysis and troubleShooting (VodafoneUK).</li>
            <li>Trouble ticketing, reporting.</li>
          </ul>
          <p class="date">2014</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Infor-POS - IT technician</h3>
          <ul class="skills-list">
            <li>Installation, configuration and programming of POS(points of selling).</li>
            <li>Networks management.</li>
            <li>Desktop and laptop repairs.</li>
            <li>POS softwares: winrest, pingwin, winrestNX, sage.</li>
          </ul>
          <p class="date">2012</p>
        </div>
      </div>
    </div>
  </div>
</div>
