<div class="container color-light-soft-bg">
  <div>
    <h2 class="container-title">Career</h2>
  </div>
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Nexllence - full-stack dev</h3>
          <p>
            Developing applications as a full-stack web developer.<br>
            .NET, ANGULAR, SQL databases. 
          </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Fujitsu - IT on-field team</h3>
          <p>
            Management of 2000 users hardware.<br>
            Hardware/Software troubleshooting.<br>
            Hardware reapairs or replacements.<br>
            Networks troubleshooting.<br>
            Trouble ticketing and reports.<br>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Samsung - Mobile Technician</h3>
          <p>
            Repair any Samsung smartphone or tablet.<br>
            Ordering and managing parts in stock.<br>
            Android troubleshooting.<br>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Vodafone - NOC Technician</h3>
          <p>
            2G/3G/4G Network monitoring, Analysis and troubleShooting (VodafoneUK).<br>
            Trouble ticketing, reporting.<br>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Infor-POS - IT technician</h3>
          <p>
            Installation, configuration and programming of POS(points of selling).<br>
            Networks management.<br>
            Desktop and laptop repairs.<br>
            POS softwares: winrest, pingwin, winrestNX, sage.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
