<div class="container color-light-soft-bg general-container">
  <div>
    <h2 class="container-title">Career</h2>
  </div>
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Fyld - Full-Stack Web Developer</h3>
          <ul class="skills-list">
            <li>API Developer in the integration team</li>
            <li>Azure DevOps</li>
            <li>Also developed a Blazor application project from scratch.</li>
          </ul>
          <p class="date">2024 - ongoing</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Nexllence (Glintt) - Full-Stack Web Developer</h3>
          <ul class="skills-list">
            <li>Develop and maintain web applications.</li>
            <li>ASP.NET Core as back-end.</li>
            <li>Angular as front-end.</li>
            <li>SQL Databases, SQL Server Management Studio (SSMS)</li>
            <li>Jira as project management tool.</li>
            <li>Bitbucket as version control system and code collaboration platform</li>
          </ul>
          <p class="date">2021 - 2024</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Fujitsu - IT on-field team</h3>
          <ul class="skills-list">
            <li>Management of about 2000 users hardware.</li>
            <li>Hardware / Software troubleshooting.</li>
            <li>Hardware reapairs or replacements.</li>
            <li>Networks troubleshooting.</li>
            <li>Trouble ticketing and reports using Service now.</li>
          </ul>
          <p class="date">2020</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Samsung - Mobile Technician</h3>
          <ul class="skills-list">
            <li>Repair any Samsung smartphone or tablet.</li>
            <li>Ordering and managing parts in stock.</li>
            <li>Android troubleshooting.</li>
          </ul>
          <p class="date">2015</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Infor-POS - IT technician</h3>
          <ul class="skills-list">
            <li>Installation, configuration and programming of POS(points of selling).</li>
            <li>Networks management.</li>
            <li>Desktop and laptop repairs.</li>
            <li>POS softwares: winrest, pingwin, winrestNX, sage.</li>
          </ul>
          <p class="date">2012</p>
        </div>
      </div>
    </div>
  </div>
</div>
